html,body{
font-family: 'Roboto', sans-serif;
}

img{
  width: 80%;
  margin: 80px auto;
  display: block;
  width: 280px;
}


div.input{
  padding:-20px 20px;
  margin: -130px auto;
  box-sizing: border-box;
  width: 50%;
  max-width: 100%;
  display: block;
}

div.wrapper{
  text-align: center;
}
.srch-btn{
  margin: 170px auto;
  display: table;
}
.langs{
  font-size: 15px;
  margin: -140px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
